<h1>Hey there, <%= @user.first_name %>!</h1>

<%= link_to "Create new event", new_event_path %>

<h2>Upcoming Events</h2>

<% hosting_events = @user.created_events.where(date: Date.today..) %>
<% if hosting_events.any? %>
  <h3>Hosting</h3>
  <%= render "event_list", events: hosting_events %>
<% end %>

<% attending_events = @user.attended_events.where(date: Date.today..) %>
<% if attending_events.any? %>
  <h3>Attending</h3>
  <%= render "event_list", events: attending_events %>
<% end %>

<h2>Past Events</h2>

<% hosted_events = @user.created_events.where(date: ...Date.today) %>
<% if hosted_events.any? %>
  <h3>Hosted</h3>
  <%= render "event_list", events: hosted_events %>
<% end %>

<% attended_events = @user.attended_events.where(date: ...Date.today) %>
<% if attended_events.any? %>
  <h3>Attended</h3>
  <%= render "event_list", events: attended_events %>
<% end %>