<%= form_with model: event do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </div>

  <%= form.submit %>
<% end %>