<h1><%= @event.name %></h1>

<p>Creator: <%= @event.creator.full_name %></p>

<p><%= @event.date %></p>

<p><%= @event.description %></p>

<%= form_with url: attendances_path do |form| %>
  <%= form.hidden_field :event_id, value: @event.id %>
  <%= form.submit "RSVP" %>
<% end %>

<% if @event.attendees.any? %>
  <h2>Attendees</h2>

  <ul>
    <% @event.attendees.each do |attendee| %>
      <li><%= attendee.full_name %></li>
    <% end %>
  </ul>
<% end %>

<% if current_user == @event.creator %>
  <%= link_to "Edit", edit_event_path(@event) %>
  <%= link_to "Delete", @event, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>
